*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 1.5rem;
  }
  
  /* :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  } */
  
  body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(10%, 30%, 40%);
  }

  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    border: 1px solid blue;
    background-color: #2980B9;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  
.btn.correct {
    background-color: green;
    color: white;
  }
  
  .btn.wrong {
 background-color: red;
 color: white;

}
  
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }

  .next-btn{
      margin-left: 20px !important;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }